DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tato_streaming?schema=public"
JWT_SECRET="troque_para_um_segredo_forte"
JWT_REFRESH_SECRET="troque_para_um_refresh_segredo_forte"
PORT=3000

# Provedor atual de e-mail
EMAIL_PROVIDER=mailhog

# Mailhog (local)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_FROM="Tato Streaming <no-reply@tato.local>"

# Frontend URL para montar o link de redefinicao
RESET_PASSWORD_URL_BASE="http://localhost:5173/reset-password"
