DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tato_streaming?schema=public"
JWT_SECRET="troque_para_um_segredo_forte"
JWT_REFRESH_SECRET="troque_para_um_refresh_segredo_forte"
PORT=3000
